<nav
  class="navbar navbar-expand-md navbar-light border-bottom p-3">
    <div class="logo-container d-flex justify-content-between">
      <div class="logo-wrapper">
        <a class="navbar-brand py-1" href="/">
          <%= image_tag('logo.png', class: 'align-middle logo') %>
        </a>
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#courseItNavBar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Courses', courses_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <% if current_user.nil? %>
          <li class="nav-item">
            <button type="button" class="btn btn-sm btn-default border mx-3">
              <%= link_to 'Get Started', new_user_session_path, class: 'nav-link' %>
            </button>
          </li>
        <% end %>
      </ul>
      <span class="mx-4">|</span>
      <ul class="navbar-nav justify-content-end">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to 'SignOut', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
