<%= cl_image_tag(@course.image.full_public_id, :format => "jpg", :width => 100, :height => 200) %>
<div style="background-image: url(<%= @course.image %>), width: 100px, height: 200px"></div>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Pricing:</strong>
  <%= @course.pricing %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
