<div class="container">
  <div class="card">
    <% if @course.image.attached? %>
      <%= cl_image_tag(@course.image.key, width: 200, crop: :scale) %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @course.title %></h5>
      <p class="card-text">
        <%= @course.description %>
        <span>
          <%= @course.pricing %>
        </span>
      </p>
    </div>
  </div>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>
