<p id="notice"><%= notice %></p>

<h1>Courses Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses_categories.each do |courses_category| %>
      <tr>
        <td><%= link_to 'Show', courses_category %></td>
        <td><%= link_to 'Edit', edit_courses_category_path(courses_category) %></td>
        <td><%= link_to 'Destroy', courses_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courses Category', new_courses_category_path %>
